*{padding: 0; margin: 0}
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');

/* #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115)  */

body{
    width: 100%;
    height: 90vh;
    font-family: 'Work Sans', ;
    background-color: #2e2e2e;
}

#Page1-Supersection{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 90vh;
}

/* HEADER */

header{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header img{
    margin: 20px;
    margin-left: -25px;
}
header ul li {
    list-style: none;
    display: inline;
    font-weight: lighter;
    font-size: 0.9em;
}

header ul li:nth-of-type(2){
    margin-left: 60px;
    margin-right: 15px;
}
header ul li:nth-of-type(3){
    margin-left: 15px;
    margin-right: 15px;
}
header ul li:nth-of-type(4){
    margin-left: 15px;
    margin-right: 60px;
}
header ul li:nth-of-type(5){
    margin-right: 45px;
}


header ul li a{
    color:#ebccc2;
    text-decoration: none;
    }

header ul li a:hover{
    color:#ebccc2;
    text-decoration: none;
    }

p{
    color: #ebccc2;
    font-size: 0.9em;
}

/* <!----------------------- START HAUPTABSCHNITT 1 ----------------------------> */
h1{
    height:45vh;
    font-size: 2em;
    display:flex;
    padding: 30px auto;
    color:#ebccc2;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    line-height: 1.1em;
}
/* <!----------------------- ENDE HAUPTABSCHNITT 1 ----------------------------> */


/* <!----------------------- START HAUPTABSCHNITT 2 ----------------------------> */
#Page1-Übersicht-FliegenderMann-DesignAlchemy{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
    "deadMan deadMan"
    "deadMan deadMan"
    "pylone Alchemy"

     ;
}

#Fliegender_Mann{
    grid-area:  deadMan;
    display:    flex;
    width: 100%;
}
#Pylonen-lautsprecher{
    grid-area:  pylone;
    display:    flex;
    width:      80%;
    margin-left: 5%;
}

#DesignAlchemy{
    grid-area:  Alchemy;
    display:    flex;
    width:      80%;
    margin-right: 5%;
    flex-wrap: wrap;

}
h2{
    font-size: 2em;
    display:flex;
    color:#ebccc2;
    font-weight: 300;
    line-height: 1.1em;
}

/* <!----------------------- ENDE HAUPTABSCHNITT 2 ----------------------------> */
